{% extends "base.html" %}
{% block title %}TASKLIST{% endblock %}
{% block user_list %}
    {% for user in users %}
        <li><a href="{%url 'private_task'%}?name={{ user }}">{{ user }}</a></li>
    {% endfor %}
{% endblock user_list %}
{% block task_list %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">任务表</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>任务号</th>
                            <th>任务状态</th>
                            <th>计划完成日期</th>
                            <th>项目编号</th>
                            <th>项目名称</th>
                        </tr>
                        {% for task in page_of_tasks.object_list %}
                            <tr>
                                <td><a href="{% url 'task_detail' %}?rwh={{ task.mode|add:'-'|add:task.product|add:'-'|add:task.year|add:'-'|add:task.id }}">{{ task.mode|add:'-'|add:task.product|add:'-'|add:task.year|add:'-'|add:task.id }}</a></td>
                                <td><span class="label label-success">{{ task.flag }}</span></td>
                                <td>{{ task.endingtime }}</td>

                                <td>{{ task.number }}</td>
                                <td>{{ task.name|truncatechars:15 }}</td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->
            </div>
        <div class="box-tools pull-right">
                        <ul class="pagination pagination-sm inline">
                            <li>
                                {% if page_of_tasks.has_previous %}
                                    <a href="?page={{ page_of_tasks.previous_page_number }}">«</a>
                                {% else %}
                                    <span>«</span>
                                {% endif %}
                            </li>
                            {% for page_num in page_range %}
                                {% if page_num == page_of_tasks.number %}
                                    <li class="active"> <span>{{ page_num }}</span></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                        <li> <span>{{ page_num }}</span></li>
                                    {% else %}
<li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                            <li>
                                {% if page_of_tasks.has_next %}
                                    <a href="?page={{ page_of_tasks.next_page_number }}">»</a>
                                {% else %}
                                    <span>»</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
            <!-- /.box -->
        </div>


    </div>

{% endblock task_list %}